﻿//@import "../dev/semantic-ui/src/theme.config";
//@import "../dev/semantic-ui/src/theme.less";

.ui.sidebar.menu {
    border-top: 0;
    box-shadow: none !important;
    transition: margin-left .3s ease,margin-top .3s ease;
}

    .ui.sidebar.menu .item.logo {
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .ui.sidebar.menu .item.logo:hover {
            background: inherit;
        }

        .ui.sidebar.menu .item.logo img {
            height: 55px;
            width: auto;
        }

.ui.menu.borderless {
    -ms-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.ui.separatorless.menu .item::before {
    content: none;
}

/*A bit of a hack to but borders back into the pagination menu*/
.ui.separatorless.menu .item.seperator::before,
.ui.separatorless.menu .pagination.menu .item::before {
    content: '';
}

.ui.main.body {
    position: relative;
    margin-left: 260px;
    min-height: 100%;
    transition: margin-left .3s ease,margin-top .3s ease;
}

/*Hides the sidebar nicely*/
.toggled.menu.wrapper .ui.sidebar.menu {
    margin-left: -260px !important;
}

.toggled.menu.wrapper .ui.main.body {
    margin-left: 0 !important;
}

@media only screen and (max-width: 991px) {
    .ui.main.body .ui.borderless.inner.menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .ui.main.body {
        margin-top: 60px !important;
    }

    .ui.sidebar.menu {
        top: 60px !important;
        border-left: none;
    }

        .ui.sidebar.menu .item.logo {
            display: none;
        }

    .ui.sidebar.menu {
        margin-left: -260px !important;
    }

    .ui.main.body {
        margin-left: 0 !important;
    }

    .toggled.menu.wrapper .ui.sidebar.menu {
        margin-left: 0 !important;
    }

    .toggled.menu.wrapper .ui.main.body {
        margin-left: 260px !important;
    }
}

.ui.inner.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 16px; /*TODO: We should pull this from a LESS file*/
    text-align: center;
    color: rgba(0, 0, 0, 0.4); /*TODO: We should pull this from a LESS file*/
}

.ui.inner.body {
    width: 100%;
    min-width: 200px;
    padding: 16px; /*TODO: We should pull this from a LESS file*/
}

.ui.inner.menu {
    box-shadow: none;
    height: 60px;
    margin-bottom: 0;
}
