﻿@using LocalResources = HexCode.EquipmentManager.Hub.Resources.Shared.Layout

@{
    Html.AddStyle("/css/semantic.css");
    Html.AddStyle("/css/hub.less");
    Html.AddStyle("/css/materialdesignicons.css");

    Html.AddDebugScript("/js/Shared/less.js");
    Html.AddScript("/js/Shared/jquery.js");
    Html.AddScript("/js/Shared/utilities.js");
    Html.AddScript("/js/Shared/dialog-utilities.js");
    Html.AddScript("/js/Shared/semantic.js");
    Html.AddScript("/js/Shared/knockout.js");
    Html.AddScript("/js/Shared/knockout-unobtrusive.js");
    Html.AddScript("/js/Shared/vbridge.js");
    Html.AddScript("/js/Shared/vbridge-semantic.js");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @Html.RenderStyles()
</head>
<body class="menu wrapper">
    <div id="side-menu" class="ui vertical left visible sidebar accordion menu">
        <a class="logo item" href="@Url.Action("Index", "Home")">
            <img class="ui centered image" src="images/placeholder.png" />
        </a>
        <a class="item" href="@Url.Action("Index", "Home")">
            <i class="mdi mdi-gauge"></i>
            @LocalResources.DashboardMenuItem
        </a>
        <div class="item">
            <a class="active title">
                <i class="dropdown icon"></i>
                @LocalResources.ManageMenuItem
            </a>
            <div class="content">
                <a class="item" href="@Url.Action("Index", "UserManagement")">
                    <i class="mdi mdi-account-group"></i>
                    @LocalResources.UsersMenuItem
                </a>
                <a class="item">
                    @LocalResources.ModelsMenuItem
                </a>
                <a class="item">
                    @LocalResources.InventoryMenuItem
                </a>
            </div>
        </div>
    </div>

    <div class="ui main body">
        <div id="top-menu" class="ui borderless inner menu">
            <a class="menu toggler item" href="#">
                <i class="icon mdi mdi-menu"></i>
            </a>
            <div class="item header">@ViewData["Title"]</div>

            <div class="right menu">
                <div class="ui dropdown item">
                    <img class="ui mini circular image" src="/images/placeholder.png">
                    <div class="menu">
                        <div class="header">User McUserface</div>
                        <div class="divider"></div>
                        <a class="item">
                            @LocalResources.SettingsMenuItem
                        </a>
                        <a class="item">
                            @LocalResources.HelpMenuItem
                        </a>
                        <div class="divider"></div>
                        <a class="item">
                            @LocalResources.LogoutMenuItem
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui inner body">
            @RenderBody()
        </div>

        <div class="ui inner footer">
            <small>Footer Stuff Here</small>
        </div>
    </div>

    @Html.RenderScripts()

    <script>
        $(function () {
            //Hilight the current menu item and expand any accordions
            var currentMenuItem = $("#side-menu a.item[href='" + location.pathname + "']:not(.logo)");
            currentMenuItem.addClass("active");
            currentMenuItem.closest(".content").addClass("active");

            $(".ui.accordion").accordion();
            $(".ui.dropdown").dropdown();

            $(".menu.toggler").on("click", function () {
                $(this).closest(".menu.wrapper").toggleClass("toggled");
            });
        });

        //Make modals autobind ko properties
        ko.addAutomaticBindingEvent(events.dialog.loaded);
        vbridge.semantic.register({ validationEvents: events.dialog.loaded });
    </script>
</body>
</html>
