﻿@using HexCode.EquipmentManager.Hub.Models.UserManagement

@model CreateViewModel

<div class="ui modal" data-bind-inputs="true" data-model="CreateViewModel">
    <div class="header">Create User</div>
    <div class="content">
        <form class="ui form error" data-bind="formValidation: isValid">
            <div class="ui error message" data-bind="visible: validationErrors().length > 0">
                <ul data-bind="foreach: validationErrors">
                    <li data-bind="text: $data"></li>
                </ul>
            </div>

            <div class="two fields">
                <div class="field">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.EditorFor(m => m.FirstName)
                </div>

                <div class="field">
                    @Html.LabelFor(m => m.LastName)
                    @Html.EditorFor(m => m.LastName)
                </div>
            </div>
            
            <div class="field">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email)
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic positive button" data-bind="submitDialog: { url: '@Url.Action("Create")', messages: validationErrors }, enabled: isValid">Create</div>
        <div class="ui basic negative cancel button">Cancel</div>
    </div>
</div>

@* TODO [Andrew]: Need to decide if we want these in separate files or inline like this *@
<script>
    function CreateViewModel() {
        var _this = this;
        this.isValid = ko.observable(false);
        this.validationErrors = ko.observableArray();
        this.succesCallback = function() {
            //TODO [Andrew]: Notify that a new user has been added
            alert("New user created!");
        }
    }
</script>