﻿
@{
    ViewData["Title"] = "User Management";

    Html.AddScript("/js/Shared/utilities.js");
    Html.AddScript("/js/Shared/knockout-utilityBindings.js");
    Html.AddScript("/js/Shared/knockout-tableBindings.js");
    Html.AddScript("/js/UserManagement/Index.js");
}

<div id="user-list" data-model="IndexViewModel" data-arg-list-url="@Url.Action("UserList")" data-arg-create-url="@Url.Action("Create")" data-bind="loading: isLoading">
    <div id="user-list-header" class="ui top attached separatorless menu">
        <div class="header item">Users</div>
        <a href="#" class="item" data-bind="click: createUser">
            <i class="mdi mdi-account-plus"></i>
        </a>

        <div class="right menu">
            <div class="ui transparent input">
                <input class="prompt" type="text" placeholder="Search">
            </div>
            <a href="#" class="item">
                <i class="icon mdi mdi-magnify"></i>
            </a>
            <a href="#" class="item">
                <i class="mdi mdi-refresh"></i>
            </a>
            <div class="ui dropdown item">
                <i class="mdi mdi-settings"></i>
                <div class="menu">
                    <div class="header">Page Size</div>
                    <div class="item">5</div>
                    <div class="item active">10</div>
                    <div class="item">25</div>
                    <div class="item">50</div>
                    <div class="item">All</div>
                </div>
            </div>
        </div>
    </div>

    <table id="user-list-table" class="ui attached celled striped table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>@* Actions *@</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: users">
            <tr>
                <td data-bind="text: firstName"></td>
                <td data-bind="text: lastName"></td>
                <td>Email</td>
                <td class="collapsing center aligned">
                    <i class="mdi icon" data-bind="css: {'mdi-check green': isActive, 'mdi-close red': !isActive}"></i>
                </td>
                <td class="collapsing">
                    <button class="ui basic primary icon button"><i class="icon mdi mdi-pencil"></i></button>
                    <div class="ui icon top left pointing dropdown basic primary button">
                        <i class="icon mdi mdi-settings"></i>
                        <div class="menu">
                            <div class="header">Options</div>
                            <a href="#" class="item">
                                <i class="red icon mdi mdi-close"></i>
                                Delete
                            </a>
                            <a href="#" class="item">
                                <i class="icon mdi mdi-account-off"></i>
                                Deactivate
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="user-list-footer" class="ui bottom attached separatorless menu">
        <div class="item">
            Page &nbsp; <span data-bind="text: pageNumber"></span>/<span data-bind="text: pageCount"></span>
        </div>
        <div class="right pagination menu">
            <a class="item" data-bind="css: {disabled: isFirstPage}, click: goToFirst">
                <i class="mdi mdi-chevron-double-left"></i>
            </a>
            <a class="item" data-bind="css: {disabled: isFirstPage}, click: goToPrevious">
                <i class="mdi mdi-chevron-left"></i>
            </a>

            <!-- ko foreach: pages-->
            <a class="item" data-bind="click: $parent.goToPage, text: $data, css: {active: $parent.pageNumber() == $data}"></a>
            <!-- /ko -->

            <a class="item" data-bind="css: {disabled: isLastPage}, click: goToNext">
                <i class="mdi mdi-chevron-right"></i>
            </a>
            <a class="item" data-bind="css: {disabled: isLastPage}, click: goToLast">
                <i class="mdi mdi-chevron-double-right"></i>
            </a>
        </div>
    </div>
</div>
